body{
    font-family: 'Bebas Neue', cursive;
    margin: 0px;

}
h1{
    font-size: 50px;
}
.orange
{
    color: orange;
}
#top-section
{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.first{
   width: 50%;
   padding-left: 2%;  
}
.first img{
    width: 80%;
}
.hire-button{
    text-decoration: none;
     border-radius:5px;
     background-image: linear-gradient(orange,tomato);
     padding: 10px 30px;
     font-weight: 400;
     color: white;
     
}
#second-section
{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}